services:
  - type: web
    name: tambola-backend
    env: python
    region: oregon
    buildCommand: pip install -r requirements-multiplayer.txt
    startCommand: uvicorn server_multiplayer:socket_app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: MONGO_URL
        sync: false
      - key: DB_NAME
        sync: false
      - key: JWT_SECRET
        sync: false
